<div class="container">
  <h1>Restaurants list !</h1>
  <%= link_to "Create a new restaurant !", new_restaurant_path, class: "btn btn-primary" %>
  <div>
    <ul class="mt-3 list-group">
      <% @restaurants.each do |restaurant| %>
        <li class = "list-group-item"><%= link_to restaurant.name, restaurant %></li>
      <% end %>
    </ul>
  </div>
</div>
